################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/DirectX12_Renderer/v17
/.vs/DirectX12_Renderer/FileContentIndex
/DirectX12_Renderer/ldem_16.tif
